
#app-container{
    margin: 0;
    padding: 0;
}

.cart-body{
    background-color: white;
    max-height: 500px;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

}

.cart-body h4{
    margin-bottom: 0;
}

.cart-btn-footer{
    float: right;
    margin-right: 10px;
    background-color: #232f3e !important;
    border-color: #232f3e !important;


}

.btn-success{
    background-color: #232f3e !important;
    border-color: #232f3e !important;
}

.btn-danger{
    background-color: #f08804 !important;
    border-color: #f08804 !important;
    color: black;
    font-weight: bolder;
}

.btn-danger:hover{
    color: black;
}

.cart-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    max-width: 100%;

    position: absolute;

    right: 5.5%;
    top: -700px;

    transition: .25s top ease;
    -moz-transition: .25s top ease;
    -ms-transition: .25s top ease;
    -o-transition: .25s top ease;
    -webkit-transition: .25s top ease;

    width: 400px;
    z-index: 999;
}

.cart-container.visible {

    position: fixed;
    top: 130px;

}

.cart-remove-btn{
    display: inline-block;
    float: right;
}

.cart-item-container{
    background-color: #232f3e;
    border-radius: 5px;
    color: white;
    margin: 5px;
    padding: 10px;
}

.cart-footer{
    background-color: #f08804;
    border-radius: 0 0 5px 5px;
    color: black;
    font-size: 20px;
    font-weight:bolder;
    height: 50px;
    padding: 10px;
}

.cart-head{
    background-color: #f08804;
    border-radius: 5px 5px 0 0;
    color: black;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.cart-view-div{

    float: right;
    font-size: 17px;
    font-weight: bold;
    height: 60px;
    margin-right: 5.5%;
    text-align: center;
    width: 150px;
}

.cart-icon{
    margin-right: 10px;
    width:25px;
}

.cart-search-div{
    display: inline-block;
    float: right;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
    padding: 0;
    position: relative;

}

.cart-search-input{

    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    height: 30px;
    margin:0;
    padding-left:35px;
    vertical-align: baseline;
    width: 250px;
}

.cart-search-icon {
    bottom:22px;
    height:15px;
    left:10px;
    position:absolute;
    width:15px;
}

.cart-view-btn{
    background-color: #f08804;
    border: 0;
    border-radius: 5px;
    box-shadow:none;
    color: black;
    height:90%;
    width: 100%;

}

.cart-view-btn:hover{
    background-color: #f07603;
}

.cart-full-container{
    margin: 0 5%;
    padding-top: 130px;

}

.cart-full-body {

    padding: 10px 0;

}

.cart-full-body thead tr {

    font-size: 17px;
    
}

.cart-full-body tbody tr td {

    padding-bottom: 10px;

}

.cart-full-footer{
    font-size: 25px;
    font-weight: bolder;
    padding-top: 10px;

}

.modal-container section{
    margin-bottom: 12px;
}

.login-form-container {

    padding-top: 100px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}


.login-form {

    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 15px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}


.login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #f08804;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}


.login-form button:hover,.form button:active,.form button:focus {
    background: #f06700;
}

.login-failed-input{
    border: solid 1px red !important;
}

.login-failed{
    color: red !important;
}

.product{

    background-color: #ccc;
    border-radius: 10px;
    height: 250px;
    margin:10px;
    padding: 10px;
    text-align: center;
}

.product-container{

    margin: 0;
    padding: 0;

}

.products-container{
    padding: 130px 5% 0;


}

.product-img{
    max-height: 150px !important;
    max-width: 100%;
}

.qty-input{
    font-size: 15px;
    height: 30px;
    margin-right:10px;
    width: 100px;
}

table {

    width: 100%;
}

.head-div{
    background-color: #232f3e;
    color: white;
    height: 60px;
    position: fixed;
    width:100%;
    z-index: 500;
}

.head-div a{
    color: white;
    text-decoration: none;
}

.head-div a:hover{
    color: antiquewhite;
    text-decoration: none;
}

.title-app{

    display: inline-block;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 35px;
    margin-left: 5.5%;
    margin-top: 10px;

}

.title-separator{

    display: inline-block;
    font-size: 30px;
    margin: 0 15px;


}

.title-sub{

    display: inline-block;
    font-size: 22px;

}

.search-cart-div{
    background-color: #232f3e;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top:60px;
    width:100%;
    z-index: 500;
}

.cart-view-btn:active,
.cart-view-btn:focus,
.cart-view-btn.active {
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
}

.cart-search-input:active,
.cart-search-input:focus,
.cart-search-input.active {
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: 0;
}

@media (max-width: 600px) {

    .cart-search-input{

        width: 150px;
    }

    .cart-container.visible {

        height: 50%;
        right: 0;
        width: 100%;

    }
    .cart-body{
        height: 100%;
    }

    .hide-on-mobile{

        display: none;
    }

    .btn-danger{
        width: 70px;
        text-align: center;
        padding-left: 7px;
    }

    .cart-body h4{
        font-size: 14px;
    }

    .cart-full-body thead tr{

        font-size: 12px;
    }

    .cart-full-body tbody tr td {

        font-size: 11px;
    }

}


